@model Todo

<form method="post" asp-controller="Todo" asp-action="Create">
    <div class="mt-4">
        <div class="flex">
            <input asp-for="Title" class="bg-[#2a2649] border-0 outline-0 p-3 rounded w-full text-[18px] text-gray-200 placeholder-opacity-50 font-segoe" type="text" placeholder="Add a new todo...">
            <button type="submit" class="bg-gray-200 text-[#2a2649] rounded pl-4 pr-4 text-[18px] ml-2">Add</button>
        </div>
</form>